.main {
  position: relative;
  background-image: url('../assets/Screenshot\ 2024-07-31\ at\ 22.19.32.png');
  background-size: cover;
  background-position: center;
  color: black;
  text-align: center;
  padding: 50px;
  height: 300px;
  max-width: 86%;
  margin: 0 auto;
}

.main h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.main p {
  font-size: 1rem;
  margin-bottom: 40px;
  font-family: 'Arial', sans-serif;
}

.swiper-slide-content p {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  font-family: 'Arial', sans-serif;
}