/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  margin-right: 50px;
  display: flex;
  gap: 100px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links .login-link {
  display: flex;
  align-items: center;
  margin-left: 480px;
}

.navbar-links .login-link i {
  margin-right: 5px;
}

.navbar-icons {
  display: flex;
  gap: 20px;
}

.navbar-icon {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-icon:hover {
  color: #ddd;
}

.navbar-links a:hover {
  text-decoration: underline;
} */
 html {
  scroll-behavior: smooth;
 }