.catalog {
    padding: 20px;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
  }
  .product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
  }
  .product-card img {
    max-width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .product-card h2 {
    font-size: 1.2em;
  }
  .product-card p {
    font-size: 1em;
  }